<div class="container mt-5 border rounded bg-light mb-5">
    <h1 class="text-center mt-3">Detalle "<%= @pet.name%>"</h1>

    <div class="mt-3">
      <p>
        <strong>NOMBRE:</strong>
        <%= @pet.name %>
      </p>

      <p>
        <strong>RAZA:</strong>
        <%= @pet.race %>
      </p>

      <p>
        <strong>FECHA DE NACIMIENTO:</strong>
        <%= @pet.birthdate %>
      </p>

      <p>
        <strong>CLIENTE:</strong>
        <%= @pet.client %>
      </p>

      <td>
        <%= link_to 'Editar Mascota', edit_client_pet_path(@client, @pet), class:"btn btn-warning" %>
        <%= link_to 'Ver Historial', client_pet_pet_histories_path(@client, @pet), class:"btn btn-primary" %>
      </td>

    </div>

    <div class="container mt-3 border rounded">
      <h3 class="mt-3">Estadísticas</h3>

      <table class="table border mt-3">
        <thead class="table-info text-center">
          <tr>
            <th>Peso Promedio</th>
            <th>Altura Promedio</th>
            <th>La altura Maxima</th>
            <th>El peso maximo</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <tr>
            <td><%= @pet.avg_weight %></td>
            <td><%= @pet.avg_height %></td>
            <td><%= @pet.max_height %></td>
            <td><%= @pet.max_weight %></td>
          </tr>   
        </tbody>
      </table>

    </div>
    
    <div class="container border rounded mt-5">
      <h3 class="mt-3">Historial</h3>

      <table class="table border mt-3">
        <thead class="table-info text-center">
          <tr>
            <th>Altura</th>
            <th>Peso</th>
            <th>Descripcion</th>
            <th>Fecha</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <% @pet.pet_histories.each do |pet_history| %>
          <tr>
            <td><%= pet_history.heigth %></td>
            <td><%= pet_history.weight %></td>
            <td><%= pet_history.description %></td>
            <td><%= pet_history.created_at %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
        
    <div class="mt-3 mb-3">
      <%= link_to 'Volver', client_pets_path, class:"btn btn-dark" %>
    </div>
    
</div>