<div class="border p-4">
  <%= form_with(model: client, local: true) do |form| %>
    
    <% if client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

        <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field mb-3">
      <%= form.text_field :name, placeholder:'Nombre', size:'50px' %>
    </div>

    <div class="field mb-3">
      <%= form.text_field :phone, placeholder:'Teléfono', size:'50px' %>
    </div>

    <div class="field mb-3">
      <%= form.text_field :email, placeholder:'Email', size:'50px' %>
    </div>

    <div class="actions">
      <%= form.submit 'Registrar Cliente', class:"btn btn-success" %>
      <%= link_to 'Ver Ficha Cliente', @client, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>